@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    
    Avnet community, is the world's largest network for hardware & software developers.
    With 930,000+ members and 17,000+ projects, beginners and professionals can learn and share how to build robotics, industrial automation systems, AI-powered machines, and everything in between.
    By bringing together innovators and hundreds of technology partners around the globe, Hackster hopes to facilitate the creation of solutions that make today's world a smarter, healthier place and support the livelihood of tomorrow's generation.

    Our community
    Network of Builders
    Hackster members are experienced and beginner developers from different interests and backgrounds, worldwide. According to our 2017 survey, close to 50% of them design, build, or program hardware as a part of their daily job. Here are the most popular hardware topics they're talking about:


    Home Automation
    3,100+ projects


    Security
    530+ projects


    Robotics
    1,300+ projects


    Automotive
    380+ projects


    Virtual Reality
    60+ projects


    Drones
    160+ projects


    Voice
    420+ projects


    Wearables
    470+ projects
    See All Topics

    Hackster Platform

    930,000+
    members in 150 countries

    17,000+
    projects in our community

    250+
    community platforms

    Hackster's Social Reach in 2018

    1,000,000+
    homepage visitors

    500,000+
    monthly blog visitors

    500,000+
    newsletter subscribers

    2,000,000+
    monthly video views

    Our community
    Popular Community Platforms

    Arduino
    500,000+ members

    Raspberry Pi
    60,000+ members

    Intel
    17,000+ members

    Microsoft
    37,000+ members
    See All Platforms


    Our workshops
    Build with Experts
    Hackster Live is global meetup led by a network of passionate ambassadors.
    Come join us and build projects with hardware experts in-person at our world-wide workshops.
</p>
