@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container text-info" style="text-align: justify; font-size: 2vw;">
    <br />
    <div class="anim-hover-bounce-to-top">
        World's largest network for hardware & software developers!
        With 93000000+ members and 17000000+ projects, beginners and professionals can learn and share how to build robotics, industrial automation systems, AI-powered machines, and everything in between.
        By bringing together innovators and hundreds of technology partners around the globe, Hackster hopes to facilitate the creation of solutions that make today's world a smarter, healthier place and support the livelihood of tomorrow's generation.
    </div>
    <br />
    <div class="anim-hover-grow">
        Our community
        Network of Builders
        experienced and beginner developers from different interests and backgrounds, worldwide. According to our 2017 survey, close to 50% of them design, build, or program hardware as a part of their daily job. Here are the most popular hardware topics they're talking about:
    </div>
    <br />
    <div class="anim-hover-pulse">
        Home Automation
        3,100+ projects
    </div>
    <div class="anim-hover-push">
        Security
        530+ projects
    </div>
    <div class="anim-hover-pop">
        Robotics
        1,300+ projects
    </div>
    <div class="anim-hover-bounce-out">
        Automotive
        380+ projects
    </div>
    <div class="anim-hover-grow-rotate">
        Virtual Reality
        60+ projects
    </div>
    <div class="anim-hover-sink">
        Drones
        160+ projects
    </div>
    <div class="anim-hover-wobble-horizontal">
        Voice
        420+ projects
    </div>
    <div class="anim-hover-pulse-grow">
        Wearables
        470+ projects
    </div>
    <br />
    <div class="anim-hover-bounce-in">
        Our workshops
        Build with Experts,
        global meetup led by a network of passionate ambassadors.
        Come join us and build projects with hardware experts in-person at our world-wide workshops.
    </div>
    <br />
</div>
