@using v2.Models
@model IEnumerable<v2.Models.Project>

@{
    ViewBag.Title = "Home Page";
}
<header>
    <div class="anim-hover-bounce-in">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="~/Content/Internet%20of%20Things%20(IoT)%20%20What%20is%20IoT%20%20How%20it%20Works%20%20IoT%20Explained%20%20Edureka.mp4" type="video/mp4" />
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h2 class="display-3">IT hardware solutions portfolio</h2>
                    <p class="lead mb-0"> Arduino, Raspberry Pi, Internet Of Things</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="jumbotron-fluid">
    <p class="text-center">@Html.ActionLink("customize or add your stunning solutions to the portfolio...", "Index", "Projects")</p>
</div>

<div class="row">
    <div class="col-md-6 col-sm-10">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                @{int i = 0;}
                @using (var ctx = new ProjectDBContext())
                {
                    foreach (var project in ctx.Projects)
                    {
                        i++;
                        var active = i == 1 ? "active" : "";
                        <div class="carousel-item @active">
                            <img alt="@project.Title" src="/Content/@Url.Content(project.URL)" class="slideimg img-fluid" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@project.Title</h5>
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-10" style="text-transform: uppercase; text-align: justify;">
        <h4>
            beginners and professionals can learn and share how to build robotics, industrial automation systems, AI-powered machines, and everything in between. By bringing together innovators and hundreds of technology partners around the globe, Hackster hopes to facilitate the creation of solutions that make today's world a smarter, healthier place and support the livelihood of tomorrow's generation
        </h4>
    </div>
</div>
    <div id="divimage" class="modal">
        <img class="modal-content" id="modalimg">
        <div id="caption"></div>
    </div>
